<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>

    <form th:method="POST" th:action="@{/songs}">
        <div th:each="song : ${songs}">
            <input th:name="radioSong" type="radio" th:value="${song.trackId}">
            <label th:for="radioSong"
                   th:text="${song.title} + ${' '} + ${song.genre} + ${' '} + ${song.releaseYear} + ${' '} + ${song.album.getName()}" >
            </label>

            <a th:href="@{/songs/delete/{id} (id=${song.getId()})}">
                <button type="button"><i class="fa fa-trash">Delete</i></button>
            </a>

            <a class="btn btn-sm btn-info" th:href="@{/songs/edit-form/{id} (id=${song.getId()})}">
                <i class="fa fa-trash">Edit</i>
            </a>
            <br>
        </div>
        <input type='submit' value='Submit'>
    </form>
    <div class="col-sm-12 col-md-12">
        <a href="/songs/add-form" class="btn btn-block btn-dark">Add new song</a>
    </div>
    <div class="col-sm-12 col-md-12">
        <p th:text="(${error} != null ? ${error} : '')">
    </div>

</main>
</body>
</html>